body{
    background-color: Red ;
}
h1{
    font-size: 60px;
    font-weight: 700;
    background-image: linear-gradient(to left, #5782fa, #39a380);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text
    
}
h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
}
img{
    height: 75px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table, th{
    border:3px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
  }
td{
    border:1px dotted black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
 }
tr{
    background-color: blue;
}
ul{
    list-style-type: upper-roman;
    background-color: lightblue;
}
li{
    margin: 5px;
}
h3{
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to left, gray,blue);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text
}
a{
    color: mediumpurple
}
